body {
    margin: 10px;
}

#titulo_2 {
    background-color: #45B0D8;
}

h2 {
    padding: 10px;
    color: white;
    font: helvetica;
}

.table {
    width: 50%;
    margin-left: 80px;
    margin-top: 20px;
}

#n_img {
    width: 3%;
    height: 3%;
}

p {
    display: inline-block;
    font: helvetica;


}

#div_avg {
    background-color: #F2F2F2;
    width: 50%;
    margin-left: 80px;
    text-align: center;
}

.div_principal {
    display: flex;
}

.card {
    margin-top: 20px;
    margin-left: 40px;
}